<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

</div>

</html>


<!--
<head>
    <style>
        hr{
  color: white;
  height: 10px;
  width: 200px;
  border: 0;
  margin-top: -5px;
}
.header{
  float: left;
  width: 270px;
  height: 100vh;
  background: #0a0024;
}
.title{
  color: white;
  font-size: 30px;
  margin-top: 10px;
}
.list{
  display: flex;
  margin: auto;
  width: 230px;
  height: 400px;
}
a{
  color: white;
  text-decoration:none !important
}
    </style>
</head>

<div layout:fragment="content">
    <div class="header">
        <div class="list">
            <ul class="nav flex-column mb-auto">
                <div class="title">
                    <p>parrot.gg</p>
                </div>
                <hr style="">
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                            <a href="#" class="link-secondary rounded">대화하기</a>
                        </button>

                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded text-light" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                            <a href="#" class="link-secondary rounded">가르치기</a>
                        </button>
                        <div class="collapse show" id="dashboard-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mx-3">
                                <li class="my-3"><a href="#" class="link-secondary rounded">● 기본 가르치기</a></li>
                                <li class="my-3"><a href="#" class="link-secondary rounded">● 긍정부정 가르치기</a></li>
                                <li class="my-3"><a href="#" class="link-secondary rounded">● 자유질문 가르치기</a></li>
                                <li class="my-3"><a href="#" class="link-secondary rounded">● 나쁜말 미션</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                            <a href="#" class="link-secondary rounded">광장가기</a>
                        </button>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed text-light" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            계정
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small mx-3">
                                <li><a href="#" class="link-dark rounded">회원가입</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="main">

    </div>
</div>-->
