<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<div layout:fragment="content" class="form-signin text-center" >
    <main class="form-signin2">
        <form th:action="@{/login}" method="post">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" name="login_id" id="login_id">
                <label for="login_id">login_id</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" name="password" id="password">
                <label for="password">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>

        <a th:href="@{/}" class="my-2 w-100 btn btn-lg btn-primary">Home</a>
    </main>
</div>

</html>
