<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<head>

    <style>

        .page ul li {
            list-style-type: none;
            float: left;
            margin: 10px;
        }

        .body {
            margin-right: auto;
            margin-left: auto;
        }

        tr, td {
            height: 68px;
        }

        .row, col {
            margin: 0;
            padding: 0;
        }

        .body {
            display: flex;
        }
        a{
            text-decoration-line : none;
            color: #000000;
        }
        input{
            width:100px;
            height: 30px;
            outline: none;
            margin-left: 12px;
            font-size:20px;
        }
        .input-group{
            height: 35px
        }
        .serachimg{
            background-color:transparent;
            border:0;
            margin-right: 10px;
        }
        .form-select{
            width: 100px;
            height: 35px;
        }
        #boardtitle a{
            font-size: 15px;
        }
        .btn-group{
            width:230px;
            height: 35px;
        }
        .assign{
            text-align:right;
        }
        .topbar{

            margin: 0;
        }

    </style>
</head>

<div layout:fragment="content">

    <div class="body" style="margin: auto; width: 830px; padding-top:70px">

        <div class="main">

            <div class="top">
                <div class="topbar">
                    <div style="width: 850px">
                        <span style="font-size: 25px;margin-left:20px;color:#2B2B2B">#이야기 광장</span>
                    </div>
                <div class="assign">
                    <button sec:authorize="isAuthenticated()" onclick="location.href='/board/create'" class="serachimg" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg></button>
                </div>
                <div class="row" style="margin-top: 20px">
                    <!--최신글 인기글-->
                    <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-outline-secondary" style="font-size:14px" for="btnradio1">전체글</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-secondary" style="font-size:14px" for="btnradio2">인기글</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn btn-outline-secondary" style="font-size:14px" for="btnradio3">최신글</label>
                        </div>

                    </div>

                    <!--검색-->
                    <div class="col">
                        <!--검색-->
                        <div class="search" style="display: flex; justify-content: flex-end">
                            <form method="get" style="display: flex" th:action="@{/boardlist}">

                                        <select class="form-select" id="type" name="type" style="width:80px">
                                            <option value="all">전체</option>
                                            <option value="title">제목</option>
                                            <option value="content">내용</option>
                                            <option value="user">작성자</option>
                                        </select>

                                <div class="input-group" style="border:1px solid #d6d6d6; border-radius: 2em; margin-left:10px; background-color:#FFFFFF">
                                        <input type="text" class="form-control" placeholder="게시물 검색" aria-label="Search" style="width: 180px; border:0;solid: black;"
                                               id="searchKeyword" name="searchKeyword" th:value="${param.searchKeyword}">
                                        <button class="serachimg" type="submit"><svg xmlns="http://www.w3.org/2000/svg" style="vertical-align:center" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg></button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                </div>
                    <!--테이블-->
                    <div class="row" style="margin-top: 20px">
                        <div class="col">
                            <table class="table table-hover">
                                <!--공지-->
                                <tr style="background-color:#efefef">
                                    <td>
                                        <div class="container" style="width: 810px">
                                            <div class="row">
                                                <div class="col-sm-1"
                                                     style="text-align: center; margin-bottom: auto; margin-top: auto">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         style="vercital-align:bottom" width="30" height="30"
                                                         fill="currentColor" class="bi bi-megaphone-fill"
                                                         viewBox="0 0 16 16">
                                                        <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-11zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25.222 25.222 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56V3.224zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009a68.14 68.14 0 0 1 .496.008 64 64 0 0 1 1.51.048zm1.39 1.081c.285.021.569.047.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a65.81 65.81 0 0 1 1.692.064c.327.017.65.037.966.06z"/>
                                                    </svg>
                                                </div>
                                                <div class="col-sm-11">
                                                    <div class="row">
                                                        <div>
                                                            <div class="row" style="height: 24px">
                                                                <div class="col">
                                                                    <span style="font-size: 15px; vertical-align:top; font-weight:bold; color:#080051">공지사항 욕설,비방,분탕 싹 다 쳐내 [2]</span>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="height: 24px">
                                                                <div class="col">
                                                                    <span style="font-size: 14px">게시물 번호</span>
                                                                    <span style="margin-left:10px; font-size: 14px">조회수 831</span>
                                                                    <span style="margin-left:10px; font-size: 14px;">2022-03-27 04:27</span>
                                                                    <span style="font-size: 15px; float:right; font-weight:bold; font-color:#666666">운영자</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!--게시글-->
                                <tr th:each="boardListResponseDto : ${boardList}">
                                    <td>
                                        <div class="container" style="width: 810px;">
                                            <div class="row">
                                                <!--왼쪽 (그림, 추천수)-->
                                                <div class="col-sm-1" style="text-align:center; margin-top:auto; margin-bottom:auto">

                                                    <div class="row">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                 height="20" fill="currentColor"
                                                                 class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                            </svg>
                                                    </div>
                                                    <div class="row">
                                                            <span th:text="${boardListResponseDto.recommendCount}" style="font-weight:bold"></span>
                                                    </div>
                                                </div>
                                                <!--중앙과 오른쪽-->
                                                <div class="col-sm-11">
                                                    <div class="row">
                                                        <div>
                                                            <!--윗 줄(제목)-->
                                                            <div class="row" style="height: 24px">
                                                                <div class="col" id="boardtitle">
                                                                    <a style="font-size: 16px; vertical-align:top"
                                                                       th:href="@{/board/{id}(id=${boardListResponseDto.id})}"
                                                                       th:text="${boardListResponseDto.title}"></a>
                                                                </div>
                                                            </div>
                                                            <!--아랫 줄-->
                                                            <div class="row" style="height: 24px">
                                                                <div class="col">
                                                                    <span style="font-size: 14px;">게시물 번호</span>
                                                                    <span style="margin-left:10px; font-size: 14px; color:#7C7C7C"
                                                                          th:text="${boardListResponseDto.view}"></span>
                                                                    <span style="margin-left:10px; font-size: 14px; color:#7C7C7C"
                                                                          th:text="${boardListResponseDto.createdDate}"></span>
                                                                    <span style="font-size: 12px; float:right; font-weight:bold"
                                                                          th:text="${boardListResponseDto.getAuthor}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <!--페이지이동-->
                    <div class="row">
                        <div class="col">
                            <ul class="pagination justify-content-center pagination-sm" style="display:flex"
                                th:with="start=${(boardList.number/10)*10+1},
                                end=${start + 9 < boardList.getTotalPages() ? start + 9 : boardList.getTotalPages()}">

                                <li class="page-item" th:if="${boardList.number != 0}">
                                    <a th:href="@{/boardlist(searchKeyword=${param.searchKeyword}, type=${param.type})}"
                                       class="page-link" th:text="'<<'"></a>
                                </li>

                                <li class="page-item" th:if="${start > 1}">
                                    <a th:href="@{/boardlist(page=${(boardList.getTotalPages()/10)*10-10}, searchKeyword=${param.searchKeyword}, type=${param.type})}"
                                       class="page-link" th:text="'<'"></a>
                                </li>

                                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                                    <a th:href="@{/boardlist(page=${page - 1}, searchKeyword=${param.searchKeyword}, type=${param.type})}"
                                       class="page-link" th:text="${page}">1</a>
                                </li>

                                <li class="page-item" th:if="${end < boardList.getTotalPages()}">
                                    <a th:href="@{/boardlist(page=${(boardList.number/10)*10+10}, searchKeyword=${param.searchKeyword}, type=${param.type})}"
                                       class="page-link" th:text="'>'"></a>
                                </li>

                                <li class="page-item" th:if="${boardList.number != boardList.getTotalPages()-1}">
                                    <a th:href="@{/boardlist(page=${boardList.getTotalPages()-1}, searchKeyword=${param.searchKeyword}, type=${param.type})}"
                                       class="page-link" th:text="'>>'"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</html>
