<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <style>
        #teach input, #teach span{
            display: block;
        }
    </style>

    <script>
        function teach() {
            let inputValue1 = document.getElementById("inputQuestion").value;
            let inputValue2 = document.getElementById("inputAnswer").value;
            let data = {
                question : inputValue1,
                answer : inputValue2
            }

            let teachDiv = document.getElementById("teach");
            let receiveTeach = document.createElement("span");
            let pastSpan1 = document.createElement("span");
            let pastSpan2 = document.createElement("span");
            $('input').remove();
            pastSpan1.innerText = inputValue1;
            pastSpan2.innerText = inputValue2;

            let newInput1 = document.createElement("input");
            let newInput2 = document.createElement("input");
            newInput1.setAttribute("id", "inputQuestion");
            newInput2.setAttribute("id", "inputAnswer");

            $.ajax({
                type:'POST',
                url:'/teach',
                data:JSON.stringify(data),
                contentType:"application/json;charset=UTF-8", //body 데이터가 어떤 타입인지
            }).done(function (response) {
                receiveTeach.innerText = response.teach;
            }).fail(function () {
                console.log("fail");
                receiveTeach.innerText = "교육실패";
            });

            teachDiv.appendChild(pastSpan1);
            teachDiv.appendChild(pastSpan2);
            teachDiv.appendChild(receiveTeach);
            teachDiv.appendChild(newInput1);
            teachDiv.appendChild(newInput2);
        }

    </script>
</head>

<div layout:fragment="content">

    <div id="teach">
        <button class="btn btn-info" onclick="teach()">전송</button>

        <input id="inputQuestion">
        <input id="inputAnswer">
    </div>

</div>

</html>
