<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-fluid">

        <h1>홈페이지</h1>
        <br>
        <a sec:authorize="isAuthenticated()" th:href="@{/board/insert}" role="button" class="btn btn-primary">글 등록</a>
        <a sec:authorize="isAnonymous()"th:href="@{/security/login}" role="button" class="btn btn-primary">로그인</a>
        <a sec:authorize="isAuthenticated()"th:href="@{/security/logout}" role="button" class="btn btn-primary">로그아웃</a>
        <a sec:authorize="isAnonymous()"th:href="@{/security/signup}" role="button" class="btn btn-primary">회원가입</a>

        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
                <td>게시글번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>최종수정일</td>
            </tr>
            </thead>

            <tr th:each="boardListResponseForm : ${boardList}">
                <td th:text="${boardListResponseForm.id}"></td>
                <td><a th:href="@{/board/{id}(id=${boardListResponseForm.id})}" th:text="${boardListResponseForm.title}"></a></td>
                <td th:text="${boardListResponseForm.name}"></td>
                <td th:text="${boardListResponseForm.modifiedDate}"></td>
            </tr>
        </table>
    </div>
</div>
</html>