<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<head>
    <script>
        function logout() {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', "/userlogout");

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>

<div layout:fragment="content">
    <div class="container-fluid">

        <h1>홈페이지</h1>
        <br>
        <a sec:authorize="isAuthenticated()" th:href="@{/board/insert}" role="button" class="btn btn-primary">글 등록</a>
        <a sec:authorize="isAnonymous()" th:href="@{/userlogin}" role="button" class="btn btn-primary">로그인</a>
        <a sec:authorize="isAuthenticated()" onclick="logout()" role="button" class="btn btn-primary">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/signup}" role="button" class="btn btn-primary">회원가입</a>
        <span th:text="${userName}"></span>

        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
                <td>게시글번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>최종수정일</td>
            </tr>
            </thead>

            <tr th:each="boardListResponseDto : ${boardList}">
                <td th:text="${boardListResponseDto.id}"></td>
                <td><a th:href="@{/board/{id}(id=${boardListResponseDto.id})}"
                       th:text="${boardListResponseDto.title}"></a></td>
                <td th:text="${boardListResponseDto.name}"></td>
                <td th:text="${boardListResponseDto.modifiedDate}"></td>
            </tr>
        </table>
    </div>
</div>
</html>